{% extends "base.html" %}
{% block content %}

    <h1>Play... Rock, Paper, Scissors!</h1>
    <div>
        <span> &#128074; </span>
        <span> &#9995; </span>
        <span> &#9996; </span>
    </div>
    <form method="GET" action="/game/play">
    <select name="play" id="select">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
      </select>
      <input type="submit" value="Play" id="submit">
    </form>

  {% endblock %}